/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * QuattuorReges implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

:root {
    --space-width: 40px;
    --space-height: 40px;
}

.qtr-board-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.qtr-captures {
    flex-shrink: 1;
}

.qtr-board {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 1000px;
    display: flex;
    flex-flow: column nowrap;
}

.qtr-board.qtr-red-player {
    flex-flow: column-reverse nowrap;
}

.qtr-board-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.qtr-board.qtr-black-player .qtr-board-row {
    flex-flow: row-reverse nowrap;
}

.qtr-board-space {
    width: var(--space-width);
    height: var(--space-height);
    outline: dashed #715b40 2px;
    margin: 1px;
}

.qtr-board-space:hover {
    background-color: yellow !important;
}

#qtr-board-space-7-3, #qtr-board-space-15-3 {
    background: #f008;
}

#qtr-board-space-8-11, #qtr-board-space-16-11 {
    background: #0008;
}
