/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * QuattuorReges implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

:root {
    --space-width: 40px;
    --space-height: 40px;
}

#qtr-board-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#qtr-board-container[data-color="black"] {
    flex-flow: row-reverse nowrap;
}

.qtr-captures {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 200px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

#qtr-board {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
}

#qtr-board-container[data-color="red"] #qtr-board {
    flex-flow: column-reverse nowrap;
}

.qtr-board-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#qtr-board-container[data-color="black"] .qtr-board-row {
    flex-flow: row-reverse nowrap;
}

.qtr-board-space {
    width: var(--space-width);
    height: var(--space-height);
    outline: dashed #715b40 2px;
    margin: 1px;
}

.qtr-board-space:hover {
    outline-color: yellow
}

.qtr-board-space.qtr-selected {
    background-color: green !important;
}

.qtr-board-space.qtr-selectable {
    background-color: yellowgreen !important;
}

#qtr-board-space-7-3, #qtr-board-space-15-3 {
    background-color: #f008;
}

#qtr-board-space-8-11, #qtr-board-space-16-11 {
    background-color: #0008;
}

.qtr-piece {
    --border-size: 3px;
    height: calc(var(--space-height) - var(--border-size) * 2);
    aspect-ratio: 62 / 88; /*TODO compatibility*/
    margin: auto;
    color: white;
    border-radius: 7px;
    border: var(--border-size) solid white;
    font-size: 26px;
    line-height: 16px;
    text-align: center;
}

.qtr-piece:not(.qtr-selectable) {
    pointer-events: none;
}

.qtr-piece[data-color="red"] {
    background-color: red;
}

.qtr-piece[data-color="black"] {
    background-color: black;
}

.qtr-piece.qtr-selected, .qtr-piece.qtr-selectable:hover {
    background-color: greenyellow;
}

.qtr-moving, .qtr-moving-simple {
    animation-duration: 900ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 1;
}

.qtr-moving {
    offset-rotate: 0deg;
    offset-anchor: top left;
    animation-name: follow-path;
}

@keyframes follow-path {
    from { offset-distance: 100%; }
    to { offset-distance: 0; }
}

.qtr-moving-simple {
    animation-name: follow-path-simple;
}

@keyframes follow-path-simple {
    to { transform: none; }
}

.qtr-piece-icon {
    display: inline-block;
    vertical-align: middle;
    border-color: slategray;
}