/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * QuattuorReges implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

:root {
    --space-width: 42px;
    --space-height: 42px;
}

#qtr-board-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px
}

#qtr-board-container[data-color="black"] {
    flex-flow: column-reverse nowrap;
}

.qtr-captures {
    height: calc(var(--space-height));
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    gap: 2px;
    margin: 4px;
}

#qtr-board {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(var(--space-width) * 17);
    height: calc(var(--space-height) * 15);
}

#qtr-board-background {
    position: absolute;
    left: -20px;
    top: -20px;
    width: calc(var(--space-width) * 17 + 40px);
    height: calc(var(--space-height) * 15 + 40px);
    background-image: url("img/board.jpg");
    background-size: cover;
    box-shadow: 0 4px 6px black;
    pointer-events: none;
}

#qtr-selection-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 714px;
    height: 630px;
    pointer-events: none;
}

#qtr-board-container[data-color="black"] #qtr-selection-svg {
    transform: rotate(180deg);
}

#qtr-selection-fill-pattern {
    stroke: greenyellow;
    stroke-width: 8px;
}

#qtr-selection-svg-path {
    fill: url("#qtr-selection-fill-pattern");
    fill-opacity: 0.8;
    stroke: greenyellow;
    stroke-width: 4px;
}

#qtr-board-rows {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}

#qtr-board-container[data-color="red"] #qtr-board-rows {
    flex-flow: column-reverse nowrap;
}

.qtr-board-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#qtr-board-container[data-color="black"] .qtr-board-row {
    flex-flow: row-reverse nowrap;
}

.qtr-board-space {
    width: var(--space-width);
    height: var(--space-height);
}

.qtr-board-space.qtr-selectable:hover {
    background-color: yellow;
}

.qtr-piece {
    position: relative;
    --sprite-x: 0;
    --sprite-y: 0;
    width: calc(var(--space-height) * 62 / 88);
    height: var(--space-height);
    margin: auto;
    background-image: url("img/pieces.png");
    background-size:
        calc(8 * var(--space-height) * 62 / 88)
        calc(4 * var(--space-height));
    background-position:
        calc(-1 * var(--sprite-x) * var(--space-height) * 62 / 88)
        calc(-1 * var(--sprite-y) * var(--space-height));
    filter: drop-shadow(0 2px 2px black);
}

.qtr-piece[data-suit="0"] { --sprite-y: 0; }
.qtr-piece[data-suit="1"] { --sprite-y: 1; }
.qtr-piece[data-suit="2"] { --sprite-y: 2; }
.qtr-piece[data-suit="3"] { --sprite-y: 3; }

.qtr-piece[data-value="7"] { --sprite-x: 0; }
.qtr-piece[data-value="8"] { --sprite-x: 1; }
.qtr-piece[data-value="9"] { --sprite-x: 2; }
.qtr-piece[data-value="10"] { --sprite-x: 3; }
.qtr-piece[data-value="11"] { --sprite-x: 4; }
.qtr-piece[data-value="12"] { --sprite-x: 5; }
.qtr-piece[data-value="13"] { --sprite-x: 6; }
.qtr-piece[data-value="0"] { --sprite-x: 7; }

.qtr-piece:not(.qtr-selectable) {
    pointer-events: none;
}

.qtr-piece.qtr-selected, .qtr-piece.qtr-selectable:hover {
    border-radius: 3px;
    border: 3px inset greenyellow;
    margin-top: -3px;
    position: relative;
    z-index: 1;
}

.qtr-moving, .qtr-moving-simple {
    animation-duration: 900ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 1;
}

.qtr-moving {
    offset-rotate: 0deg;
    offset-anchor: top left;
    animation-name: follow-path;
}

@keyframes follow-path {
    from { offset-distance: 100%; }
    to { offset-distance: 0; }
}

.qtr-moving-simple {
    animation-name: follow-path-simple;
}

@keyframes follow-path-simple {
    to { transform: none; }
}

.qtr-piece-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
}